.Issue{
  text-align: left;
  position: relative;
  display: block;
  margin-top: 2%;
}

.Issue:after{
  clear: both;
}

.Repository {
  color: white;
  font-size: 2em;
  margin-bottom: 4%;
}

.Repository a { color: inherit; } 